<h1 class="professoreshow">Professores</h1>
<div>
    <a href="/professores/add" class="btn btn-custom-add mb-3">Adicionar professor</a>
</div>

<br>
    <table class="table table-bordered" style="width: 100%; border-collapse: collapse; font-family: 'Fredoka', sans-serif;">
    <thead style="background-color: #b4abed;">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Formação</th>
            <th>Matéria</th>
            <th>Horário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody style="background-color: #f6edff;;">
        <% professores.forEach(professor => { %>
        <tr>
            <td><%= professor.id %></td>
            <td><%= professor.nome %></td>
            <td><%= professor.email %></td>
            <td><%= professor.formacao %></td>
            <td><%= professor.materia %></td>
            <td><%= professor.horario %></td>

            <td>
                <a href="/professores/edit/<%= professor.id %>" class="btn btn-sm btn-primary" title="Editar">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action="/professores/delete/<%= professor.id %>" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-sm btn-danger" title="Deletar">
                      <i class="fas fa-trash-alt"></i>
                    </button>
            </td>

        </tr>
        <% }) %>
    </tbody>
</table>
